{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<link rel="stylesheet" href="{{ asset('assets/css/extra.css') }}"> 
<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"> 
{% endblock %}

{% block title %}Create new Author{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <header>
    <a class="header" href="{{path('book_index')}}"> Books </a> |
    <a class="header" href="{{path('book_create')}}"> Create new book </a>
    </header>

    <h1> Create new Author </h1>

    <form action="{{path('author_store')}}" method="POST">
    <div class="create_author">
        <p class="name">Name </p>  
        <input type="text" name="author_name">
        <br>
        <p class="surname">Surname </p> 
        <input type="text" name="author_surname"> 
        <br>
        <button type="submit"> Add new Author </button>
    </div>
    </form>

{% endblock %}