{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"> {% endblock %}


{% block title %}Authors List{% endblock %}

{% block body %}

    <header>
    <a class="header" href="{{path('book_index')}}"> Books </a> |
    <a class="header" href="{{path('author_create')}}"> Create new author </a>
    </header>

    <h1>Authors in Library </h1>

    <h2>List </h2>
    <div class="grid-container">
    {% for author in authors %}
        <div class="authors_border">
        <div class="authors">{{author.name}} {{author.surname}} </div> 
        <form action="{{path('author_delete', {id: author.id})}}" method="POST">
        <div class="parasytos_knygos"> <span>Parasytos knygos: </span> <br> {% for book in author.books %}
            {{book.title}}
        {% endfor %} 
        <br>
        </div>
        <br>
        <br>
        <a class="edit" href="{{path('author_edit', {id: author.id})}}">EDIT</a> 
        <button type="submit">DELETE</button>
        </form>
        </div>
    {% endfor %}
    </div>
{% endblock %}
