{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
{# <link rel="stylesheet" href="{{ asset('assets/css/extra.css') }}"> #}
<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"> 
{% endblock %}

{% block title %}Create new Book{% endblock %}

{% block body %}


    {# <script type="text/javascript">
			$(document).ready(function() {
				CKEDITOR.replace( 'editor',
				{
					fullPage : true,
					uiColor : '#9AB8F3',
					toolbar : 'MyToolbar',
                    cloudServices_tokenUrl: 'https://example.com/cs-token-endpoint',
                    cloudServices_uploadUrl: 'https://your-organization-id.cke-cs.com/easyimage/upload/'
				});
			} 
        );
	</script> #}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <header>
    <a class="header" href="{{path('book_index')}}"> Books </a> |
    <a class="header" href="{{path('author_create')}}"> Create new author </a>
    </header>

    <h1> Create new Book </h1>

    <form action="{{path('book_store')}}" method="POST">
    <div class="create_book container">    
            <p class="title"> Title: </p>
            <input type="text" name="book_title">
            <p class="pages"> Pages: </p>
            <input type="text" name="book_pages">
            <p class="isbn">ISBN: </p>
            <input type="text" name="book_isbn">
            <p class="about">Author </p>
            <select name="book_author_id">
            {% for author in authors %}
            <option value="{{author.id}}">{{author.name}} {{author.surname}} </option>
            {% endfor %}
            </select>

            
            {# <form action="result.php" method="post">
            <textarea class="editor" id="editor" name="book_about"></textarea>
			<div id="messages"></div>
            </form> #}


            {# <textarea name="book_about"></textarea> #}

            <div name="book_about" class="form">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>

            
            <br>
            <button type="submit"> Add new Book </button>
        </div>
    </form>

{% endblock %}