{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"> 
{% endblock %}

{# {% block header %}
<a href="{{path('book_create')}}"> Create new book </a>
<a href="{{path('book_update')}}"> Update a book </a>
{% endblock %} #}

{% block title %}Books List{% endblock %}


{% block body %}

    <header>
    <a class="header" href="{{path('book_create')}}"> Create new book </a> |
    <a class="header" href="{{path('author_index')}}"> Authors </a>
    </header>

    <h1>Books in Library </h1>

    <h2>Books List </h2>
    <br>
    <div class="grid-container">
    {% for book in books %}
    <div class="books_border">
        <br>
        <img src="{{asset('assets/foto/images.jpg')}}" alt="book">
        <p class="book"><span>Book:</span> {{book.title}} </p>
        <p class="author"><span>Author:</span>  {{book.author.name}} {{book.author.surname}}</p>
        <p class="about2"><span>About:</span> {{book.about}} </p>
        <br>
        <form action="{{path('book_delete', {id: book.id})}}" method="POST">
        <a class="edit" href="{{path('book_edit', {id: book.id})}}">EDIT</a> 
        <button type="submit">DELETE</button>
        </form>
    </div>    
    {% endfor %}
    </div>
{% endblock %}
