{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"> 
{% endblock %}

{% block title %}Books List{% endblock %}


{% block body %}


    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }} <a href="{{ path('app_logout') }}"><p class="logout">Logout</p></a>
        </div>
    {% endif %}

<header>
    <a class="header" href="{{path('book_create')}}"> Create new book </a> |
    <a class="header" href="{{path('author_index')}}"> Authors </a>
</header>
    

<header class="second_header">
    <div class="sort_author">
        <form action="{{path('book_index')}}"  method="GET">
            Filter authors 
            <select name="author_id">
                    <option value="all" >View all</option>
                    {% for author in authors %}
                    <option value="{{author.id}}" 
                    {# {% if authorId == author.id %} selected {% endif %} #}
                    >
                    {{author.name}} {{author.surname}} 
                    </option>
                    {% endfor %}
            </select>
            <button class="sort" type="submit">Filter</button>
        </form>
        <form action="{{path('book_index')}}"  method="GET">
            Filter books
            <select name="title">     
                    <option value="all">View all</option>   
                    {% for book in books %}
                    <option value="{{book.title}}" 
                    {# {% if bookTitle == book.title %} selected {% endif %} #}
                    >
                    {{book.title}} 
                    </option>
                    {% endfor %}
            </select>
            <button class="sort" type="submit">Filter</button>
        </form>
    </div>

    <div class="sort_book">
    <form action="{{path('book_index')}}"  method="GET">
        Sort by 
                <select name="sort" >
                    <option value="default">Default</option>
                    <option value="book_asc" {% if sortBy == 'book_asc' %} selected {% endif %}>Book Title ASC</option>
                    <option value="book_desc" {% if sortBy == 'book_desc' %} selected {% endif %}>Book Title DESC</option>
                    <option value="id_asc" {% if sortBy == 'id_asc' %} selected {% endif %}>Author ID ASC</option>
                </select>
            <button class="sort" type="submit">Sort</button>
        </form>
    </div>
</header>
<h1 class="h1">Books in Library </h1>
    <h2 class="h2">Books List </h2>

    <div class="grid-container">
    {% for book in books %}
        <div class="books_border">
            <br>
            <img src="{{asset('assets/foto/images.jpg')}}" alt="book">
            <p class="book"><span>Book:</span> {{book.title}} </p>
            <p class="author"><span>Author:</span>  {{book.author.name}} {{book.author.surname}}</p>
                <p class="about2"><span>About:</span> {{book.about}} </p>
            <form action="{{path('book_delete', {id: book.id})}}" method="POST">
                <div class="edit_delete">
                <a class="edit" href="{{path('book_edit', {id: book.id})}}">EDIT</a> 
                    <button type="submit">DELETE</button>
                </div>
            </form>
        </div>    
    {% endfor %}
    </div>
{% endblock %}
